footer{
    text-align: center;
}

.footer-links{
    max-width: 1400px;
    margin: 0 auto;
}

.footer-links>div{
    text-align: center;
}

.footer-social{
    align-items: center;
}

@media (min-width: 800px) {
    .uoc-footer{
        padding: 2em;
        text-align: center;
    }
    
    .footer-links{
        display: flex;
    }
    
    .footer-links>div:nth-of-type(2){
        align-content: center;
        width: 100%;
    }
    
    .footer-links>div:nth-of-type(2)>ul{
        display: inline-flex;
    }
    
    .footer-links>div:nth-of-type(3){
        align-content: center;
    }
}