@use "../variables";
@use "../functions";
@use "sass:color";


header{
    display: flex;
    padding: 0em 4em;
}

ul{
    display: flex;
    list-style: none;
}

ul>li{
    padding: 1em;
}

ul>li>a{
    color: black;
    text-decoration: none;
}

ul>li>a:hover{
    font-weight: bold;
}

.menu-logo{
    width: 100%;
}

.menu-links{
    align-content: center;
}