@use "../variables";
@use "../functions";

* {
  box-sizing: border-box;
}

.main-page .header{
  //z-index: 1;
  //position: relative;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  border-bottom: none;
}

.main-site{
  //position: absolute;
  //top: 0;
  width: 100%;
  height: 100vh;
  container-type: inline-size;
  @supports not (display: grid) {
    position: relative;
    display: block;

    .main-image {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      width: 100%;
      height: calc(100vh - 5rem);
      object-fit: cover;
    }

    .gradient {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -2;
      width: 100%;
      height: calc(100vh - 5rem);
    }

    .main-text {
      position: relative;
      z-index: 1;
      margin-top: calc(100vh - 35%);
      text-align: center;
    }

  }
  @supports (display: grid) {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;

    .gradient, .main-image {
      grid-row: 1 / -1;
      grid-column: 1 / -1;
      height: calc(100vh - 5rem);
    }

    .main-text {
      z-index: 1;
      grid-row: 1;
      grid-column: 1;
      align-self: end;
      text-align: center;
    }
  }
}

.main-image{
  //display: grid;
  width: 100%;
  height: 100%;
  //height: calc(100vh - 5rem);
  //position: absolute;
  //top: 0;
  //z-index: -1;
  object-fit: cover;
}

.gradient {
  //position: absolute;
  position: relative;
  //top: 0;
  width: 100%;
  height: 100%;
  //height: calc(100vh - 5rem);
}

.gradient::after {
  position: absolute;
  //position: relative;
  top: 50%;
  left: 0;
  width: 100%;
  height: 50%;
  pointer-events: none;
  content: "";
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 20%, rgba(0, 0, 0, 0.5) 100%);
}

.main-text{
  width: 100%;
  padding: 2em;
  margin-bottom: 10rem;
  color: white;
  text-align: center;
}

@container (min-width: 600px) {
  .main-text {
    padding: 4em;
  }
}

.main-text>h1{
  margin-bottom: 2em;
}

.main-text a{
  font-weight: bold;
  color: white;
}

.main-page footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 5rem;
}
