@use "../variables";
@use "../functions";

* {
  box-sizing: border-box;
}

header{
  //z-index: 1;
  //position: relative;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

main{
  //min-height: calc(100vh - 5rem);
  height: 100vh;
  //position: absolute;
  //top: 0;
  width: 100%;
  @supports not (display: grid) {
    display: block;
    position: relative;

    .main-image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: calc(100vh - 5rem);
      object-fit: cover;
      z-index: -1;
    }

    .gradient {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: calc(100vh - 5rem);
      z-index: -2;
    }

    .main-text {
      position: relative;
      margin-top: calc(100vh - 35%);
      text-align: center;
      z-index: 1;
    }

  }
  @supports (display: grid) {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;

    .gradient, .main-image {
      grid-row: 1 / -1;
      grid-column: 1 / -1;
      height: calc(100vh - 5rem);
    }

    .main-text {
      grid-row: 1;
      grid-column: 1;
      align-self: end;
      z-index: 1;
      text-align: center;
    }
  }
}

.main-image{
  //display: grid;
  width: 100%;
  height: 100%;
  //height: calc(100vh - 5rem);
  //position: absolute;
  //top: 0;
  //z-index: -1;
  object-fit: cover;
}

.gradient {
  //position: absolute;
  position: relative;
  //top: 0;
  width: 100%;
  height: 100%;
  //height: calc(100vh - 5rem);
}

.gradient::after {
  content: "";
  position: absolute;
  //position: relative;
  top: 50%;
  left: 0;
  width: 100%;
  height: 50%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 20%, rgba(0, 0, 0, 0.5) 100%);
  pointer-events: none;
}

.main-text{
  width: 100%;
  text-align: center;
  //margin-top: calc(100vh - 35%);
  color: white;
  padding: 2em;
  margin-bottom: 10rem;
  //position: relative;
}

.main-text>h1{
  margin-bottom: 2em;
}

.main-text a{
  color: white;
  font-weight: bold;
}

footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 5rem;
}
