@layer defaults;

@layer defaults{
    blockquote{
        background-color: pink;
    }
}

.info-article>section, hr{
    max-width: 1200px;
    margin: 0 auto;
}

.info-article>section:first-of-type{
    max-width: unset;
}

.info-intro {
    position: relative;
}

.info-intro figure, .info-intro picture, .info-intro img {
    display: block;
    width: 100%;
    height: 40rem;
    margin: 0;
    object-fit: cover;
}

.info-intro>header {
    position: absolute;
    top: 40%;
    right: 0;
    left: 0;
    z-index: 2;
    width: fit-content;
    margin: 0 auto;
    color: white;
    text-align: center;
}

.info-image__foot figcaption{
    text-align: center;
}

.info-intro header figcaption {
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-size: 0.9rem;
}

.info-intro::after {
    position: absolute;
    inset: 0;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    pointer-events: none;
    content: "";
    background: linear-gradient(
      to bottom,
      rgba(0,0,0,0.4),
      rgba(0,0,0,0.3)
    );
}

.info-two__columns{
    display: flex;
    padding: 2rem 4rem;
}

.info-two__rows{
    padding: 2rem 4rem;
}

.info-two__columns>h3, .info-two__columns>p{
    padding: 0.5em;
}

.info-quote{
    padding: 1em;
    text-align: center;
}

ol {
    padding: 2rem 4rem;
    list-style: none;
}

ol li{
    position: relative;
    padding-left: 4rem;
    counter-increment: item;
}

ol li::before{
    position: absolute;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    font-weight: bold;
    color: #fff;
    content: counter(item);
    background: #000;
    border-radius: 50%;
}

.info-image__foot img{
    width: 100%;
}

.info-article {
    container-type: inline-size;
}

//Ajustar article per a pantalles petites
@container (max-width: 800px) {
    .info-two__columns {
        flex-direction: column;
        padding: 1.5rem;
    }

    ol {
        padding: 1.5rem;
    }

    ol li {
        padding-left: 3rem;
    }

    ol li::before {
        width: 1.6rem;
        height: 1.6rem;
        font-size: .8rem;
    }
}

@layer overrides {
    blockquote{
        background-color: lightgrey;
    }
}
