@use "../functions" as functions;

.inscription-titles{
    padding: 2rem;
    text-align: center;
}

.inscription-form__netlify{
    max-width: 30rem;
    margin: 0 auto;
    container-type: inline-size;
    text-align: left;
}

.inscripcio-imatges>div {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    container-type: inline-size;
}

.inscripcio-imatges>div picture{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: functions.flex-width(3);
    min-width: 15rem;
}

.inscripcio-imatges>div img{
    display: block;
    width: 100%;
    height: auto;
}

.inscription-form__netlify input,
.inscription-form__netlify textarea,
.inscription-form__netlify select {
    width: 100%;
    padding: 0.6rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

@container (max-width: 400px) {
    .inscription-form__netlify {
        text-align: center;
    }

    .inscription-form__netlify p {
        text-align: center;
    }
}
