@layer defaults;

@layer defaults{
    .speakers-box{
        background-color: pink;
    }
}

.speakers-h1{
    padding: 2em;
    text-align: center;
}

.speakers-reticula {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    container-type: inline-size;
}

.speakers-reticula>div {
    flex-direction: column;
    min-width: 15rem;
    max-width: 33%;
}

@container (min-width: 800px) {
    .speakers-reticula>div {
        max-width: 30%;
    }
}

.speakers-reticula>div>div{
    text-align: center;
}

.speaker-person {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}

@layer overrides {
    .speakers-box{
        background-color: lightgrey;
    }
}