<footer class="uoc-footer">
  &copy; PAC 2 - Carlos Aracil Pérez - Eines HTML i CSS II
  <br>
  <div class="footer-links">
    <div>
      <picture>
        <source srcset="./assets/images/logo.png?as=webp&width=150" type="image/webp" />
        <img src="./assets/images/logo.png?width=150" alt="Logo jornades de cuina Sant Esteve de Les Roures" class="logo" />
      </picture>
    </div>
    <div>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="info.html">Informació</a></li>
        <li><a href="speakers.html">Participants</a></li>
        <li><a href="inscripcio.html">Inscripció</a></li>
      </ul>
    </div>
    <div class="footer-social row justify-content-center gap-2 flex-nowrap">
      <div class="col-auto text-center">
        <i class="fa-brands fa-google-plus-g fs-4 text-primary"></i>
      </div>
      <div class="col-auto text-center">
        <i class="fa-brands fa-facebook fs-4 text-primary"></i>
      </div>
      <div class="col-auto text-center">
        <i class="fa-brands fa-square-x-twitter fs-4 text-primary"></i>
      </div>
    </div>    
  </div>
</footer>
