<header class="header">
    <div class="menu-logo">
        <picture>
            <source srcset="./assets/images/logo.png?as=webp&width=150" type="image/webp" />
            <a href="/"><img src="./assets/images/logo.png?width=150" alt="Logo jornades de cuina Sant Esteve de Les Roures" class="logo" /></a>
        </picture>
        <span><b>JORNADES DE CUINA</b></span>
    </div>
    <div class="menu-links">
        <ul>
            <li><a href="info.html">Informació</a></li>
            <li><a href="speakers.html">Participants</a></li>
            <li><a href="inscripcio.html">Inscripció</a></li>
        </ul>
    </div>
</header>