@use "sass:color";

// bootstrap
$primary: darkgrey; 

$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol";
$font-family-serif: "Georgia", "Times New Roman", serif;

$mqMinWidth: 700px;
$granada-corporate: #AB2A3E;
$granada-masterbrand: #AB2A3E;
$granada-bg: color.scale($granada-masterbrand, $lightness: 70%);
$contentMinWidth: 360px;
$contentMaxWidth: 1200px;


